@charset "UTF-8";

.intro {
  display: grid;
  grid-template-rows: var(--space-700) minmax(0, 1fr) var(--space-700) auto;
  grid-gap: var(--space-600);
}

.intro > * {
  grid-column: 1;
}

.intro__header {
  padding: var(--space-300) var(--space-600);
  background: rgba(208, 214, 179, 0.95); /* Could be var(--color-secondary) with opacity if needed */
  z-index: 1;
  grid-row: 2;
  margin: 0 var(--space-600);
  align-self: center;
}

.intro__heading em {
  font-style: normal;
  display: block;
  transform: translateX(-3px);
}

.intro__media {
  grid-row: 1/4;
  position: relative;
}

.intro__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__content {
  grid-row: 4;
}

.intro__content p {
  max-width: 30ch;
}

@media (min-width: 37em) {
  .intro {
    grid-template-rows: var(--space-500) auto auto auto;
    grid-template-columns: minmax(15rem, 1fr) 2fr;
  }
  
  .intro__header {
    padding: var(--space-500);
    margin: 0;
    grid-column: 1/3;
    justify-self: start;
    align-self: end;
  }
  
  .intro__media {
    grid-column: 3/2;
    grid-row: 1/5;
  }
  
  .intro__content {
    grid-row: 3/4;
    grid-column: 1;
  }
}

@media (min-width: 62em) {
  .intro {
    grid-template-columns: 1fr minmax(44rem, 1fr);
  }
  
  .intro__media {
    height: 28rem;
  }
}