@charset "UTF-8";

time[datetime] {
  display: block;
  color: var(--color-primary);
  font-size: var(--font-size-700);
  font-style: italic;
}

.post-list__link {
  font-size: var(--font-size-700);
  color: var(--color-dark);
  text-decoration-color: var(--color-primary);
  font-family: var(--font-family-heading);
  font-weight: 900;
}

.post-list__link:hover {
  color: var(--color-primary);
  text-decoration-color: var(--color-dark);
}

.search-result-body p {
  max-height: 8.26rem;
  overflow: hidden;
  position: relative;
}

.search-result-body p:after {
  content: "";
  display: block;
  height: calc(var(--line-height-base) * 1em + 1px);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(to right, transparent, var(--color-light) 80%);
}

.pagination__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination__inner > [data-direction="forwards"] {
  margin-inline-start: auto;
}

.page-content {
  line-height: var(--line-height-loose);
}

.page-content > * {
  max-width: var(--measure-long);
}

.page-content blockquote {
  border-inline-start: var(--space-400) solid var(--color-quinary);
  padding-inline-start: var(--space-600);
  padding-top: var(--space-500);
  padding-bottom: var(--space-500);
  font-style: italic;
}

.page-content h2 {
  font-size: var(--font-size-700);
}

.page-content h3 {
  font-size: var(--font-size-600);
}

.page-content ol,
.page-content ul {
  padding-inline-start: var(--space-800);
}

.page-content li + li {
  margin-top: var(--space-300);
}

.page-content h2,
.page-content h3 {
  --flow-space: var(--space-800);
}

.page-content h2 + *,
.page-content h3 + * {
  --flow-space: var(--space-300);
}