# Misc
*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache
.vscode/*

# Node modules and output
node_modules
dist
src/_includes/css
src/islandty/staging/*
!src/islandty/staging/README.txt

# Source files
src/images/Transcribed\ Video
src/images/*
src/islandora/object/*
src/linked-agent

# Compiled XSLT transforms
*.sef.json
