# Misc
*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache
.vscode/*

# Node modules and output
node_modules
dist
web
config/mergedIslandtyFieldInfo.json
src/islandty/staging/*
!src/islandty/staging/README.txt

# Source files
src/images/Transcribed\ Video
src/images/*
src/islandora/object/*
src/linked-agent

# Compiled XSLT transforms
*.sef.json

# Mirador build (temporary until textoverlay 0.4.0 publishes to npm)
vendor/mirador-textoverlay

# Mirador output bundle
web/js/mirador.js

# Test output
tests/output
