{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% set
pageCriticalStyles = ['css/page.css'] %} {% block content %}
<article>
  {% include "partials/page-header.html" %}


    <div class="[ page-content ] [ flow wrapper ] [ flow-space-700 ]">
      {{ content | safe }}



      {% for item in book.items %}
          <h3>{{item.title }}</h3>
          <table>
          <tr>
          <td> {{ fieldNames.title }} </td> <td> {{ item.title }} </td>
          </tr>
          <tr>
          <td> {{fieldNames.items.field_campus }}</td> <td> {{item.field_campus }} </td>
          </tr>
          </table>

      {% endfor %}
    </div>
  </div>
</article>
{% endblock %}
