{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% set
pageCriticalStyles = ['css/page.css'] %} {% block content %}
<article>
  {% include "partials/page-header.html" %}


    <div class="[ page-content ] [ flow wrapper ] [ flow-space-700 ]">
      {{ content | safe }}

      {% for item in readCSV.items %}
        {% if field_model != 'Page' %}
          <h3><a href="/{{ contentPath }}/{{ id | slugify }}">{{ title }}</a></h3>

        {% endif %}
      {% endfor %}
    </div>
  </div>
</article>
{% endblock %}
