{% extends "layouts/page.html" %}
{% set pageHeaderTitle = title %}
{% set pageCriticalStyles = ['css/page.css'] %}
{% block content %}
<article>
    {% include "partials/page-header.html" %}

    {% set parent = islandtyHelpers.getParentContent(collections.all, parent_id) %}
    {% set children = islandtyHelpers.getChildContent(collections.all, id) %}
    {% set display = islandtyHelpers.getLayoutForContentModel(field_model) %}

    <div class="[ page-content ] [ flow wrapper ] [ flow-space-700 ]">
        {{ content | safe }}

        {% include display %}

    </div>
</article>
{% endblock %}
