{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% set
    pageCriticalStyles = ['css/page.css'] %} {% block content %}
    <article>
      {% include "partials/page-header.html" %}
      
    
    
        <div class="[ page-content ] [ flow wrapper ] [ flow-space-700 ]">
          {{ content | safe }}
    
          {% for item in collections.repo %}
              <h3><a href="/{{ item.data.permalink }}">{{ item.data.title }}</a></h3>
    
          {% endfor %}
        </div>
      </div>
    </article>
    {% endblock %}