---
title: 'Foo'
layout: 'layouts/object.html'
permalink: 'object/object1/index.html'
ModsFile: './src/individual_objects_templates/object1.11tydata.xml'
---
This is some content in a mrkdown file lives.
