---
pagination:
  data: book.items
  size: 1
  alias: item
permalink: "books/{{ item.id | slugify }}.html"
layout: layouts/book-item.html
title: {{ item.title }}
---

{{ item.id }} is {{ item.title }}.