---
permalink: /index-lookup.json
---

[
{% for object in collections.all %}

{
   "id": {{ loop.index0 }},
   "title": "{{object.data.title}}",
   "url": "{{object.url}}"
} {% if loop.last == false %},{% endif %}
{% endfor %} 
]