---
permalink: /index-lookup.json
---

[
{% for object in collections.all %}

{
  {% set newData = islandtyHelpers.objectIndexMetadata(collections.all, object) %}
   "id": {{ loop.index0 }},
   "title": "{{ newData.data.title }}",
   "url": "{{ newData.url }}",
   "description": "{{ newData.data.field_description }}"
} {% if loop.last == false %},{% endif %}
{% endfor %}
]
