---
permalink: /index-raw.json
---

[
{% for object in collections.allIslandtyObjects %}
   {
   "id": {{ loop.index0 }},
   "title": "{{object.data.title}}",
   "url": "{{object.url | url }}",
   "content": {% searchIndex object %}
   } {% if loop.last == false %},{% endif %}

{% endfor %}
]
