---
permalink: /index.json
---

[
{% for object in collections.repo %}

{
   "title":"{{object.data.title}}",
   "url":"{{object.url}}",
   "file":"{{object.data.ModsFile}}",
   "content":{% searchIndex object %}
} {% if loop.last == false %},{% endif %}
{% endfor %} 
]
