{% set linked_agents = item[name] %}
{% for relType, relData in linked_agents %}

  {% for rel, contributors in relData %}
  {%- set relCollection =  collections['linkedAgent_' + relType + '_' + rel|slugify ] -%}

  {% set count = contributors.length %}

    {% for contributor in contributors %}
    <tr>
        {% if loop.first %}
        <th rowspan="{{ count }}"> {{ rel }}</th>
        {% endif %}

        <td>
<a href="{{ relCollection|getLinkFromTitle(contributor) }}">{{ contributor }}</a>

        </td>
    </tr>

    {% endfor %}
  {% endfor %}
{% endfor %}
