<div class="content-file-downloads">

{% set filesList = [] %}
{% for name, field in islandtyFieldInfo %}
    {% if 'downloadable' in field and field['downloadable'] %}
        {% if item[name] %}
            {% set count = filesList.push({
                'label': field['label'],
                'displayText': item[name].split('/').pop(),
                'url': item[name]
            }) %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if filesList.length > 0 %}
    <h2>File Downloads</h2>
    <table>
        {% for fileItem in filesList %}
        <tr>
        <th>{{ fileItem.label }}</th>
        <td><a href="{{ fileItem.url }}">{{ fileItem.displayText }}</a> </a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

</div>