<div class="content-metadata">
    <table>
        {% for name, field in islandtyFieldInfo %}
          {% if 'metadata_display' not in field or field['metadata_display'] %}
            {% if item[name] %}
                {% if 'type' in field and field['type'] == 'file' %}
                {% include "partials/field-formatter-file.html" %}
                {% elif 'type' in field and field['type'] == 'typed_relation' %}
                {% include "partials/field-formatter-linked-agent.html" %}
                {% elif 'type' in field and field['type'] == 'subject' %}
                {% include "partials/field-formatter-subject.html" %}
                {% else %}
                    {% if item[name] is string %}
                        <tr><th scope="row">{{ field.label }}</th><td>{{ item[name] | safe }}</td></tr>
                    {% else %}
                        <tr><th scope="row">{{ field.label }}</th><td>{{ item[name] | join(', ') | safe }}</td></tr>
                    {% endif %}
                {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
    </table>
    {% if mods %}
        {% include "partials/mods-record.html" %}
    {% endif%}
</div>
